<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mufp.hackaton.evan_android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mufp.hackaton.evan_android.activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mufp.hackaton.evan_android.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.mufp.hackaton.evan_android.services.SocketService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.mufp.hackaton.evan_android.activities.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
